@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 196, 197, 198;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 25, 25, 25;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
    height: 100%;
}

html {
  height: 100%;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.scrollbar-custom::-webkit-scrollbar {
  @apply bg-white w-[0.5em] rounded-sm
}
.scrollbar-custom::-webkit-scrollbar-thumb {
  @apply bg-black rounded-sm
}

.scrollbar-custom-dark::-webkit-scrollbar {
  @apply bg-white w-[0.5em] rounded-sm
}
.scrollbar-custom-dark::-webkit-scrollbar-thumb {
  @apply bg-black rounded-sm
}